body {
    background: #000;
    color: gold;
    font-family: Arial;
}

header {
    text-align: center;
    padding: 20px;
    font-size: 26px;
    font-weight: bold;
}

#products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    gap: 15px;
    padding: 20px;
}

.card {
    background: #111;
    padding: 15px;
    border: 1px solid gold;
    border-radius: 10px;
    text-align: center;
}

.card img {
    width: 100%;
    height: 140px;
    object-fit: cover;
    border-radius: 8px;
}

button {
    width: 100%;
    padding: 10px;
    background: gold;
    border: none;
    font-weight: bold;
    margin-top: 8px;
}

.admin-box, .form-box {
    padding: 20px;
}

input, select, textarea {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    background: #111;
    color: gold;
    border: 1px solid gold;
}
